<div class="cards-container">
  <% @categories.each do |category| %>
  <div class="card">
    <% if category.name == "Wallet" %>
      <%= link_to category.name, category_path(category) %>
      <p>
        <i class="fas fa-hand-holding-usd"></i>
      </p>
    <% elsif category.name == "Food" %>
      <%= link_to category.name, category_path(category) %>
      <p>
        <i class="fas fa-utensils"></i>
      </p>
    <% elsif category.name == "Health" %>
      <%= link_to category.name, category_path(category) %>
      <p>
        <i class="fas fa-medkit"></i>
      </p>
    <% elsif category.name == "Housekeeping" %>
      <%= link_to category.name, category_path(category) %>
        <p>
          <i class="fas fa-broom"></i>
        </p>
    <% elsif category.name == "Productivity" %>
      <%= link_to category.name, category_path(category) %>
      <p>
        <i class="fas fa-laptop"></i>
      </p>
    <% else %>
      <%= link_to category.name, category_path(category) %>
      <p>
        <i class="fas fa-heart"></i>
      </p>
    <% end %>
  </div>
  <% end %>
</div>

