 <div class="navbar-wagon-item hidden-md hidden-lg">
  <div class="dropdown">
    <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
    <div class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <h5 class="dropdown-title">
        <%= link_to "Hey Mom", root_path %>
      </h5>
      <div class="link-icon">
        <%= render 'shared/search' %>
      </div>
      <%= link_to categories_path do %>
        <div class="link-icon">
          <i class="fas fa-globe"></i>
          <div class="menu-name">
            All
          </div>
        </div>
      <% end %>
      <% Category.all.each do |category|%>
        <%= link_to category_path(category) do %>
          <div class="link-icon">
              <% if category.name == "Wallet" %>
                <i class="fas fa-hand-holding-usd"></i>
              <% elsif category.name == "Food" %>
                <i class="fas fa-utensils"></i>
              <% elsif category.name == "Health" %>
                <i class="fas fa-medkit"></i>
              <% elsif category.name == "Housekeeping" %>
                <i class="fas fa-broom icon-smaller"></i>
              <% elsif category.name == "Productivity" %>
                <i class="fas fa-laptop icon-smaller"></i>
              <% else %>
                <i class="fas fa-heart icon-smaller"></i>
              <% end %>
            <div class="menu-name">
              <%= category.name %>
            </div>
          </div>
        <% end %>
      <%  end %>
      <%= link_to budget_path do%>
        <div class="link-icon">
            <i class="fas fa-money-check icon-smaller">
            </i>
            <div class="menu-name">
              Budget
            </div>
        </div>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete do %>
      <div class="link-icon">
        <i class="fas fa-sign-out-alt">
        </i>
        <div class="menu-name">
          <%= t(".sign_out", default: "Log out") %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
