<%= simple_form_for(@transaction) do |f| %>
  <%= f.input :category, collection: %w[Housing Debt Transportation Food Personal Other] %>
  <%= f.input :amount %>
  <%= f.input :description %>
  <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
  <%= f.input :expense, collection: [["Expense", true], ["Income", false]], as: :radio_buttons %>
  <button class="btn btn-primary"><%= f.submit %></button>
<% end %>

