<%= simple_form_for(@transaction) do |f| %>
  <%= f.input :category %>
  <%= f.input :amount %>
  <%= f.input :description %>
  <%= f.input :expense %>
  <button class="btn btn-primary "><%= f.submit %></button>
<% end %>

