<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="balance-summary">
      <p>
        Your wallet has 60000.
      </p>
      <p class="balance-income">
        Your earned 6000 this month.
      </p>
      <p class="balance-expense">
        Your spent 2000 this month.
      </p>
    </div>
    <table class="balance-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Due Date</th>
          <th>balance</th>
        </tr>
      </thead>
      <% @transactions.each_with_index do |t, index| %>
        <tr>
          <td><%= t.created_at.strftime("%b %d") %></td>
          <td><%= t.description %></td>
          <% if t.expense == true %>
            <td class="balance-expense"><%= t.amount %></td>
          <% else %>
            <td class="balance-income"><%= t.amount %></td>
          <% end %>
          <td><%= t.date.nil? ? t.date : "getttttt" %></td>
          <td></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
