<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="balance-summary">
      <h1>
        Monthly Summary
        <% if @monthly_income < @monthly_expense %>
          <span class="balance-expense text-right">- $<%= (@monthly_income - @monthly_expense).abs %>
        <% else %>
          <span class="balance-income text-right">+ $<%= (@monthly_income - @monthly_expense).abs %>
        <% end %>
        </span>
      </h1>
      <div class="summary-container">
        <div>
          <div class="balance-type">Income:</div>
          <div class="balance-amount balance-income">$<%= @monthly_income %></div>
        </div>
        <div>
          <div class="balance-type">Expense:</div>
          <div class="balance-amount balance-expense">$<%= @monthly_expense %></div>
        </div>
      </div>
    </div>
    <div class="balance-container">
      <div class=balance-date>Today is <%= Date.today.strftime("%B %d, %Y") %></div>
      <% @transactions[0..7].each do |t| %>
        <div class="balance-row">
          <div class="balance-row-icon">
            <% if t.category == "Housing" %>
              <i class="fas fa-home"></i>
            <% elsif t.category == "Debt" %>
              <i class="fas fa-money-bill-wave"></i>
            <% elsif t.category == "Transportation" %>
              <i class="fas fa-bus"></i>
            <% elsif t.category == "Food" %>
              <i class="fas fa-utensils"></i>
            <% elsif t.category == "Personal" %>
              <i class="fas fa-user"></i>
            <% else %>
              <i class="fas fa-search-dollar"></i>
            <% end %>
          </div>
          <div class="balance-row-content">
            <div class="balance-row-description"><%= t.description %></div>
            <div class="balance-row-duedate"><%= t.date ? "Due: #{t.date.strftime("%b-%d")}" : " " %></div>
          </div>
          <% if t.expense == true %>
            <div class="balance-expense balance-row-amount">
          <% else %>
            <div class="balance-income balance-row-amount">
          <% end %>
            <%= t.amount %>
          </div>
        </div>
      <% end %>
      <div class="balance-new">
        <i class="fas fa-plus" id="transaction-new"></i>
      </div>
      <div class="transaction-form hidden">
        <%= render "form", transaction: @transaction %>
      </div>

    </div>
  </div>
</div>
