<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="balance-summary">
      <h1>
        Monthly Summary
        <% if @monthly_income < @monthly_expense %>
          <span class="balance-expense text-right">- $<%= (@monthly_income - @monthly_expense).abs %>
        <% else %>
          <span class="balance-income text-right">+ $<%= (@monthly_income - @monthly_expense).abs %>
        <% end %>
        </span>
      </h1>
      <div class="summary-container">
        <div>
          <div class="balance-type">Income:</div>
          <div class="balance-amount balance-income">$<%= @monthly_income %></div>
        </div>
        <div>
          <div class="balance-type">Expense:</div>
          <div class="balance-amount balance-expense">$<%= @monthly_expense %></div>
        </div>
      </div>
    </div>
    <div class="balance-container">
      <% @transactions.each do |t| %>
        <div class="balance-row">
          <div class="balance-row-icon">
            <% if  %>

            <% end %>
          </div>
          <div class="balance-row-description"><%= t.description %></div>
          <% if t.expense == true %>
            <div class="balance-expense balance-row-amount">
          <% else %>
            <div class="balance-income balance-row-amount">
          <% end %>
            <%= t.amount %>
          </div>
          <div class="balance-row-duedate"><%= t.date ? "Due: #{t.date.strftime("%b-%d")}" : " " %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
